@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: hsl(284 30% 99%);
  --foreground: hsl(284 75% 1%);
  --card: hsl(284 30% 99%);
  --card-foreground: hsl(284 75% 1%);
  --popover: hsl(284 30% 99%);
  --popover-foreground: hsl(284 75% 1%);
  --primary: hsl(284 76% 26%);
  --primary-foreground: hsl(284 76% 86%);
  --secondary: hsl(284 8% 81%);
  --secondary-foreground: hsl(284 8% 21%);
  --muted: hsl(284 39% 85%);
  --muted-foreground: hsl(284 3% 38%);
  --accent: hsl(284 8% 81%);
  --accent-foreground: hsl(284 8% 21%);
  --destructive: hsl(17 83% 41%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(284 14% 92%);
  --input: hsl(284 14% 92%);
  --ring: hsl(284 76% 26%);
  --chart-1: hsl(284 76% 26%);
  --chart-2: hsl(284 8% 81%);
  --chart-3: hsl(284 8% 81%);
  --chart-4: hsl(284 8% 84%);
  --chart-5: hsl(284 79% 26%);
  --sidebar: hsl(284 30% 99%);
  --sidebar-foreground: hsl(284 75% 1%);
  --sidebar-primary: hsl(284 76% 26%);
  --sidebar-primary-foreground: hsl(284 76% 86%);
  --sidebar-accent: hsl(284 8% 81%);
  --sidebar-accent-foreground: hsl(284 8% 21%);
  --sidebar-border: hsl(284 14% 92%);
  --sidebar-ring: hsl(284 76% 26%);
}

.dark {
  --background: hsl(284 53% 2%);
  --foreground: hsl(284 20% 97%);
  --card: hsl(284 53% 2%);
  --card-foreground: hsl(284 20% 97%);
  --popover: hsl(284 53% 2%);
  --popover-foreground: hsl(284 20% 97%);
  --primary: hsl(284 76% 26%);
  --primary-foreground: hsl(284 76% 86%);
  --secondary: hsl(284 20% 20%);
  --secondary-foreground: hsl(284 20% 80%);
  --muted: hsl(284 39% 15%);
  --muted-foreground: hsl(284 3% 62%);
  --accent: hsl(284 20% 20%);
  --accent-foreground: hsl(284 20% 80%);
  --destructive: hsl(17 83% 50%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(284 14% 10%);
  --input: hsl(284 14% 10%);
  --ring: hsl(284 76% 26%);
  --chart-1: hsl(284 76% 26%);
  --chart-2: hsl(284 20% 20%);
  --chart-3: hsl(284 20% 20%);
  --chart-4: hsl(284 20% 23%);
  --chart-5: hsl(284 79% 26%);
  --sidebar: hsl(284 53% 2%);
  --sidebar-foreground: hsl(284 20% 97%);
  --sidebar-primary: hsl(284 76% 26%);
  --sidebar-primary-foreground: hsl(284 76% 86%);
  --sidebar-accent: hsl(284 20% 20%);
  --sidebar-accent-foreground: hsl(284 20% 80%);
  --sidebar-border: hsl(284 14% 10%);
  --sidebar-ring: hsl(284 76% 26%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
