/* src/app/globals.css */

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-navbar: var(--navbar);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
  --color-chart-9: var(--chart-9);
  --color-chart-10: var(--chart-10);

  --color-soft: var(--soft);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-third: var(--third);
  --color-third-foreground: var(--third-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/*  1 - CORES DO SISTEMA  */
:root {
  --radius: 0.7rem;
  /* Fundo e texto */
  --background: #f8f6f6; /* fundo neutro, off-white elegante */
  --foreground: #2d2d2d; /* cinza profundo, neutro */

  /* Cards */
  --card: #ffffff; /* branco puro para contraste */
  --card-foreground: #2d2d2d;

  /* Popovers */
  --popover: #fcfcfc; /* levemente diferente do card */
  --popover-foreground: #2d2d2d;

  /* Paleta principal (inalterada) */
  --primary: #54c1d4;
  --primary-foreground: #ffffff;

  --secondary: #7f81e0;
  --secondary-foreground: #ffffff;

  --third: #90bbc8;
  --third-foreground: #ffffff;

  /* Acento */
  --accent: #7dc0b8;
  --accent-foreground: #ffffff;

  /* Auxiliares */
  --muted: #e6e6e6; /* cinza neutro suave */
  --muted-foreground: #7a7a7a;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  /* Bordas e inputs */
  --soft: #fafafa;
  --border: #eaeaea;
  --input: #e9e7e7;
  --ring: #b4b4b4;

  /* Sidebar */
  --sidebar: #f3f5f7;
  --sidebar-foreground: #393c44;
  --sidebar-primary: #06b6d4;
  --sidebar-primary-foreground: #393c44;
  --sidebar-accent: #d6d9df;
  --sidebar-accent-foreground: #393c44;
  --sidebar-border: #d6d7d7;
  --sidebar-ring: #b8b8b8;

  /* Navbar */
  --navbar: #fafafa;

  /* Gráficos */
  --chart-1: #54c1d4;
  --chart-2: #7f81e0;
  --chart-3: #7dc0b8;
  --chart-4: #90bbc8;
  --chart-5: #80d1e0;
  --chart-6: #a9aaff;
  --chart-7: #a6d9d2;
  --chart-8: #b3d9ff;
  --chart-9: #a8a9e9;
  --chart-10: #8ed8e6;
}

.dark {
  --background: #03020a; /* fundo quase preto neutro */
  --foreground: #f5f5f5;

  --card: #202020; /* cinza escuro sólido */
  --card-foreground: #f5f5f5;

  --popover: #242424;
  --popover-foreground: #f5f5f5;

  /* Paleta principal (inalterada) */
  --primary: #7eb9ef;
  --primary-foreground: #202020;

  --secondary: #6366f1;
  --secondary-foreground: #ffffff;

  --third: #7ea0e9;
  --third-foreground: #ffffff;

  --accent: #14b8a6;
  --accent-foreground: #ffffff;

  /* Auxiliares */
  --soft: #202020;
  --muted: #2f2f2f;
  --muted-foreground: #a3a3a3;
  --border: #2a2a2a;
  --input: #3a3a3a;
  --ring: #5b5b5b;

  /* Erros */
  --destructive: #f87171;
  --destructive-foreground: #0f172a;

  /* Sidebar */
  --sidebar: #1d1d1d;
  --sidebar-foreground: #e6e6e6;
  --sidebar-primary: #06b6d4;
  --sidebar-primary-foreground: #535353;
  --sidebar-accent: #535353;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-border: #2a2a2a;
  --sidebar-ring: #06b6d4;
  /*  */
  --navbar: #0c0c0c;

  /* Gráficos */
  --chart-1: #55a4b3;
  --chart-2: #5d5ea1;
  --chart-3: #6b9792;
  --chart-4: #769aa5;
  --chart-5: #6eb1bd;
  --chart-6: #898acf;
  --chart-7: #91bbb5;
  --chart-8: #74879b;
  --chart-9: #898ac2;
  --chart-10: #71a1aa;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    background-size: cover;
    background-position: end;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
